/* Set the default font for the entire application */
.root {
    -fx-font-family: 'Chakra Petch', sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #008CBA;
}

.label {
    -fx-font-weight: bold;
    -fx-font-color: white;
    -fx-text-fill: black;
}

.text-field {
    -fx-background-color: #f7df9c;
    -fx-font-color: #000;
    -fx-font-weight: bold;
    -fx-border-color: blue;
    -fx-border-radius: 3px;
    -fx-prompt-text-fill: #444;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}

.tab-pane {
    /*-fx-background-color: #001029;*/
    -fx-background-color: #fff;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: navy;
}

.table-view {
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: #f5f5f5;
    -fx-font-weight: bold;
}

.chart-plot-background {
    -fx-background-color: #f8f8f8;
}

.chart-vertical-grid-lines {
    -fx-stroke: #d0d0d0;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #d0d0d0;
}

.low-risk {
    -fx-background-color: lightgreen;
}

.medium-risk {
    -fx-background-color: yellow;
}

.high-risk {
    -fx-background-color: orange;
}

.critical-risk {
    -fx-background-color: red;
}

.low-risk {
    -fx-background-color: lightgreen;
}

.medium-risk {
    -fx-background-color: yellow;
}

.high-risk {
    -fx-background-color: orange;
}

.critical-risk {
    -fx-background-color: red;
}
